<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346168213826-766t3uf3hh1rn1bj3rv7g6k5tti3tukg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346168213826-766t3uf3hh1rn1bj3rv7g6k5tti3tukg</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Q1I_8dACSzoKwwWMiT3h3x05ps9ipcI</string>
	<key>GCM_SENDER_ID</key>
	<string>346168213826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pv239Qwiz</string>
	<key>PROJECT_ID</key>
	<string>pv239-qwiz</string>
	<key>STORAGE_BUCKET</key>
	<string>pv239-qwiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346168213826:ios:2e1957787076ba45bac8db</string>
</dict>
</plist>